.loginContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width:100%;
    text-align: right;
    background: none;
    border: none;
    font-size: 1rem;
    color:white;
    text-decoration:none;
}

.loginContainer:visited {
    color:white;
    text-decoration:none;
}

.loginContainer:hover {
    text-decoration: underline;
}


.userIcon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}