.filterMenuContainer {
    padding: 1rem;
    border-right: 1px solid white;

    height: 100%;
    text-align: left;
    z-index: 1;
    transition: all 0.6s ease-in-out;
    background: var(--midnight-blue);
    transform: translateX(calc(-100% + 3rem));
    position: absolute;
}

@media screen and (min-width:1024px) {
    .open {
        position: relative;
    }
}
@media screen and (min-width:576px) {
    .open {
        width: max(20%, 320px);
    }
}
@media screen and (max-width:576px) {
    .open {
        position: absolute;
    }
    .filterMenuContainer {
        position: absolute;
        width: 80%;
    }
}

.open {
    transform: translateX(0px);
    overflow-y: scroll;

}

.open .mainMenu {
    opacity: 1;
}

.mainMenu {
    transition: all 0.6s ease-in-out;
    opacity: 0;
}

.filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.filterInput {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.hamburgerMenu {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
}

.topMenu {
    display: flex;
    justify-content: space-between;
}

label {
    margin-bottom: 0.5rem;
}