.filterMenuContainer {
    padding: 1rem;
    border-left: 1px solid black;
    min-width:20%;
    overflow-y: scroll;
    text-align: left;
}

.filter {
    display: flex;
    flex-direction: column;

    margin-bottom: 0.5rem;
}

.filterInput {
    width:100%;
}