.searchContainer {
    align-items: stretch;
    display: flex;
    height: 100%;

}

.mainSearchMenu {
    width:100%;
    transition: width 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resultContainer {
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    height: calc(70vh);
    padding: 1rem;
    overflow-y: scroll;
    border-color:black;
  }