.result-card {
    background-color: var(--comet-lightgold);
    border: 2px solid var(--comet-bronze);
    color:black;
    border-radius: 4px;
    margin-bottom:4px;
    text-align: left;
    display:flex;
}

.icon {
    display: flex;
    background-color: rgba(0,0,0,0.1);
    width:4rem;
    height:4rem;
    margin-right: 1rem;
    border-right: 2px solid var(--comet-bronze);
    border-bottom: 2px solid var(--comet-bronze);
}


.title {
    color:var(--comet-blue);
    font-size: 1.5rem;
    
}

.title:visited {
    color:var(--blue-munsell);
}